# Welcome to the Pandas Tutorials

In [4]:
# Before Starting with the session, run the follwing code

import Tutorial_1

```pandas``` are the packages that helps programmers help to manage diffrent DataSets effectively

To work with ```pandas```, we should import the ```pandas``` package into our program. This should be done after installing ```pandas``` into our Local Machine, or by using **Jupyter** or **Google Colab**

The line to import a ```pandas``` package is ```import pandas as pd```, where:
- ```import``` is the import statement
- ```pandas``` is the name of the package
- ```as``` is used to create an alias / nickname
- ```pd``` is the nickname given to the ```pandas``` package

In [5]:
# Type in the pandas package import statement below to import it
import pandas as pd

Now we have imported the ```pandas``` package into our program, we will perform diffrent tasks now.

## Creating a ```DataFrame```

```DataFrame``` is the type of the data we are going to work with. ```DataFrames``` contain the actual data in an **Tabular** manner, which can be easily interpreted or understood by humans.   
   

To create a ```DataFrame```, we use the following syntax  ```Dataframe Variable = pd.DataFrame( iterable ) ```, where
- the ```iterable``` is a **N-Dimensional Dictionary**

In [14]:
# Create a DataFrame Variable named 'DATA1' with the iterable 'example' passed into it
example = {'Apple': [10], 'Banana': [15], 'Cherry': [5]}

DATA1 = pd.DataFrame( example )

As you can see that the ```DataFrame``` ```DATA1``` is created sucessfully. Now to display the created ```DataFrame```, we will just type in the ```DataFrame``` variable into the code cell to get the output

In [15]:
# Type in the DataFrame Variable name below to see the data within the DataFrame Variable
DATA1

   Apple  Banana  Cherry
0     10      15       5

The Output will look similar to the picture given below

![](./Assets/Ex_1_1.png)

As you can see that the ```DataFrame``` Variable is not displayed in an linear format, with brackets and all such things, but will be displayed in an user-intuitive, understandable Tabular form.   
   
As of now, you will be aware that the ```DataFrame``` created is of 1-Dimension Data. To Create a ```DataFrame``` with 2-Dimensional Data, we pass in a **2-Dimensional Dictionary**

In [16]:
# Create a DataFrame Variable named 'DATA2', with the iterable 'example' passed into it
example = {'Apple': [10, 20], 'Banana': [15,30], 'Cherry': [5, 10]}

DATA2 = pd.DataFrame( example )

The ```DataFrame``` is now created. To print it, we just type in the ```DataFrame``` variable again into the code cell to get the output.

In [17]:
# Type in the DataFrame Variable name created above to get the output
DATA2

   Apple  Banana  Cherry
0     10      15       5
1     20      30      10

The Output above will look similar to the one that is given below.   
   
![](./Assets/Ex_1_2.png)

### Task 1

Create a ```DataFrame``` named ```DATAFRAME_1```, which when printed, will provide the following output:

![](./Assets/Ex_1_3.png)

In [19]:
# Type in the code below
DATAFRAME_1 = pd.DataFrame({'Apple': [69, 27, 27, 27],
                            'Banana': [45,67, 78, 45],
                            'Cherry': [34, 68, 48, 57]
                           })


Tutorial_1.TASK_1( DATAFRAME_1 )

'Correct Answer!'

### Task 2

Create a ```DataFrame``` named ```DATAFRAME_2```, which when printed, will provide the following output

In [22]:
# Type in the code below

DATAFRAME_2 = pd.DataFrame({'Yes': [50, 21], 
                            'No': [131, 2]})


Tutorial_1.TASK_2( DATAFRAME_2 )

'Correct Answer!'

---   
---

## Creating a ```Series```

A ```Series```, unlike a ```DataFrame```, is not a Table, but rather in a form of ```List```.   
   
Creating a ```Series``` is done by using the following syntax: ```Series Variable = pd.Series( iterable )```, where
- The ```iterable``` is an ```N-Dimensional``` ```List```

In [26]:
# Create a Series called 'DATA3' with the iterable 'example' passed into it
example = [1, 2, 3, 4, 5]


DATA3 = pd.Series( example , dtype='int16')

Now try printing the ```Series``` Variable by typing its name in the code cell below

In [27]:
# type in the name of the Series variable to get the output
DATA3

0    1
1    2
2    3
3    4
4    5
dtype: int16

The above Output should look like the image given below:   
![](./Assets/Ex_1_4.png)

Now try creating a ```Series``` Variable of 2-Dimensions

In [43]:
# Create a Series called 'DATA4' with the iterable 'example' passed into it
example = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

DATA4 = pd.Series( example , dtype='int16')
DATA4

0    (1, 2, 3)
1    (4, 5, 6)
2    (7, 8, 9)
dtype: object

The output should look something like this:   
![](./Assets/Ex_1_5.png)

### Task 3

Create a ```Series``` called ```SERIES_1```, which when printed, should give the following output:

In [34]:
# Type in the code below

SERIES_1 = pd.Series( [57, 32, 26, 67, 56] )
SERIES_1

# Tutorial_1.TASK_3( SERIES_1 )

0    57
1    32
2    26
3    67
4    56
dtype: int64